# Database Connection
DATABASE_URL="file:./dev.db"

# JWT Security
JWT_SECRET="your-secret-key-here"

# Email Configuration (Nodemailer)
# Use a Gmail App Password for the best compatibility
EMAIL_USER=""
EMAIL_APP_PASSWORD=""

# Server Configuration
PORT=5000

# MoMo E-Wallet Sandbox (Optional for local testing)
MOMO_PARTNER_CODE=MOMOBKUN20180529
MOMO_ACCESS_KEY=klm05673ra9nd9
MOMO_SECRET_KEY=at67ab6u123cd45ef678gh9012345678
MOMO_API_URL=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_REDIRECT_URL=http://localhost:5174/order-completed/
MOMO_IPN_URL=http://localhost:5000/api/payments/momo-ipn
